<%= provide(:title, 'Users') %>

<div class="col-sm-12">
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th width="7%">Avatar</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th colspan="2" width="10%"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to gravatar_for(user, size: 30), user %></td>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td><%= user.role.name %></td>
          <td>
            <%= link_to link_icon('edit'), edit_user_path(user),
                                                 class: btn_edit %>
          </td>
          <td>
            <%= link_to link_icon('remove'), user, method: :delete, 
                                            data: { confirm: 'Are you sure?' },
                                            class: btn_destroy %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>    
</div>

<div class="row row-margin">
  <% if can? :manage, User %>
    <%= link_to link_icon('plus', 'New User'), new_user_path, 
                                                          class: btn_create %>
  <% end %>
</div>