<%= provide(:title, @user.name) %>

<p id="notice"><%= notice %></p>

<div class="row content_info">


  <div class="row">
    <strong>Role:</strong>
    <% if can? :read, Role  %>
      <%= link_to @user.role.name, @user.role  %>
    <% else %>
      <%= @user.role.name %>
    <% end %>
  </div>

  <div class="row">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>

  <div class="row">
    <strong>Joined on:</strong>
    <%= @joined_on %>
  </div>

  <div class="row">
    <strong>Last logged in on:</strong>
    <%= @last_login %>
  </div>

  <div class="row">
    <strong>No. times logged in:</strong>
    <%= @user.sign_in_count %>
  </div>
</div>

<div class="row row-margin">
  <%= link_to link_icon('arrow-left', 'Back'), users_path, 
                                                  class: btn_show('left')  %>
  <% if can? :update, User %>
    <%= link_to link_icon('edit', 'Edit'), edit_user_path(@user), 
                                                  class: btn_show('right') %>
  <% end %>
</div>