<%= form_for(@role, html: {class: "form-horizontal"}) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-offset-3 col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, autofocus: true, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-offset-3 col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_area :description, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4">
      <%= f.check_box :admin %>
      <%= f.label :admin, 'Administrator' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4">
      <%= f.check_box :manager %>
      <%= f.label :manager, 'Manager' %>
    </div>
  </div>

  <div class="form-group">
    <div class="row well well-sm">
      <%= f.submit "Save", class: btn_create("col-sm-offset-4") %>
      <%= button_tag link_icon("trash", "Clear"), type: :reset, 
                                      class: btn_show %>
    </div>
  </div>

<% end %>
