<%= provide(:title, @role.name) %>

<p id="notice"><%= notice %></p>

<div class="row content_info">
  <div class="row">
	  <strong>Name:</strong>
	  <%= @role.name %>
  </div>

  <div class="row">
	  <strong>Description:</strong>
	  <%= @role.description %>
  </div>

  <div class="row">
	  <strong>Assosciated users:</strong>
	  <%= @assosciated_users %>
  </div>

</div>

<div class="row row-margin">
  <%= link_to link_icon('arrow-left', 'Back'), roles_path, 
                                                	class: btn_show('left')  %>
  <%= link_to link_icon('edit', 'Edit'), edit_role_path(@role), 
                                                  class: btn_show('right') %>
</div>
