<%= provide(:title, @role.name) %>

<p id="notice"><%= notice %></p>

<div class="row content_info">
  <div class="row">
    <strong>Name:</strong>
    <%= @role.name %>
  </div>

  <div class="row">
    <strong>Description:</strong>
    <%= @role.description %>
  </div>

  <div class="row">
    <strong>Assosciated users:</strong>
    <%= @assosciated_users %>
  </div>

  <% if @role.admin? %>
    <div class="row">
      Can manage everything
    </div>
  <% elsif @role.manager? %>
    <div class="row">
      Can manage some stuff
    </div>
  <% else %>
    <div class="row">
      Doesn't have any privileges
    </div>
  <% end %>
</div>

<div class="row row-margin">
  <div class="col-sm-10">
    <table class="table table-bordered table-striped table-resposive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Path</th>
          <th width="5%">Create</th>
          <th width="5%">Read</th>
          <th width="5%">Update</th>
          <th width="5%">Destroy</th>
        </tr>
      </thead>

      <tbody>
        <% @accesses.each do |access| %>
          <%= content_tag_for(:tr, access) do |acc| %>
            <td><%= link_to acc.page.name, acc.page %></td>
            <td><%= acc.page.path %></td>
            <td align="center">
              <%= render_checkbox "create",  acc.can_create  %>
            </td>
            <td align="center">
              <%= render_checkbox "read",    acc.can_read    %>
            </td>
            <td align="center">
              <%= render_checkbox "update",  acc.can_update  %>
            </td>
            <td align="center">
              <%= render_checkbox "destroy", acc.can_destroy %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>      
  </div>
</div>

<div class="row row-margin">
  <%= link_to link_icon('arrow-left', 'Back'), roles_path, 
                                                	class: btn_show('left')  %>
  <%= link_to link_icon('edit', 'Edit'), edit_role_path(@role), 
                                                  class: btn_show('right') %>
</div>
