<%= provide(:title, 'Items') %>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#list" aria-controls="list" role="tab" data-toggle="tab">
        <%= link_icon('list', 'List') %>
      </a>
    </li>
    <li role="presentation">
      <a href="#table" aria-controls="table" role="tab" data-toggle="tab">
        <%= link_icon('list-alt', 'Table') %>
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list"><%= render 'list' %></div>
    <div role="tabpanel" class="tab-pane" id="table"><%= render 'table' %></div>    
  </div>

</div>

<% if can? :create, Item %>
  <%= link_to link_icon('plus', 'New Item'), new_item_path, class: btn_create %>
<% end %>