<%= provide(:title, @item.name) %>

<div class="row content_info">

  <div class="row">
    <strong>Description:</strong>
    <%= @item.description %>
  </div>

  <div class="row">
    <strong>Price:</strong>
    <%= @item.price %>
  </div>

  <div class="row">
    <strong>Seller:</strong>
    <%= link_to @item.user.name, @item.user %>
  </div>
  
</div>

<div class="row row-margin">
  <%= link_to link_icon('arrow-left', 'Back'), items_path, 
                                                class: btn_show('left') %>
  <% if can? :update, @item %>
    <%= link_to link_icon('edit', 'Edit'), edit_item_path(@item), 
                                                  class: btn_edit('right') %>
  <% end %>
  <% if can? :destroy, @item %>
    <%= link_to link_icon('remove', 'Destroy'), @item, method: :delete, 
                                            data: { confirm: 'Are you sure?' },
                                            class: btn_destroy('right') %>
  <% end %>
</div>