<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    'application', media: 'all', 
	  														'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag 'favicon.ico' %>
	</head>
	<body>
		<div class="non_authenticated">  		
			<%= render 'layouts/header' %>
			
			<div class="container">	
				<div class="content">
				
					<%= render 'shared/alert' %>

					<div class="page-header">			    	
						<strong><h3><%= yield(:title) %></h3></strong>
					</div>
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
